{% extends "base.html" %}

{% load static %}

{% block content %}
    
    <div class="row">
        <div class="col-md-3">
            <select class="form-select" id="inputGroupSelect01">
                {% for field in form %}
                <option value="{{field.label}}" selected>{{field.label}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-7">
            <div class="input-group mb-3 ">
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <button class="btn btn-outline-secondary" type="button" id="button-addon1">Buscar</button>
            </div>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary" href="{% url 'crear servicio' %}">Nuevo Servicio</a>
        </div>
    </div>
    <br>
    <table class="table table-hover align-middle">
        <thead class="text-white" style="background-color: #0E4749;">
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
                <th scope="col">Precio</th>
                <th scope="col">Impuesto</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
            <tr>
                <th scope="row" colspan="2">{{servicio.codigo.id}}</th>
                <td colspan="2">{{servicio.nombre}}</td>
                <td>{{servicio.precio}}</td>
                <td>{{servicio.codigo.impuesto}}</td>
                <td>{% if servicio.codigo.estado %}Activo{% else %}Inactivo{% endif %}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{% url 'modificar servicio' servicio.codigo.id %}" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" style="fill:#FFF"><path d="M5 19h1.4l8.625-8.625-1.4-1.4L5 17.6ZM19.3 8.925l-4.25-4.2 1.4-1.4q.575-.575 1.413-.575.837 0 1.412.575l1.4 1.4q.575.575.6 1.388.025.812-.55 1.387ZM17.85 10.4 7.25 21H3v-4.25l10.6-10.6Zm-3.525-.725-.7-.7 1.4 1.4Z"/></svg>
                    </a>
                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalgestion" data-bs-whatever="{{servicio.codigo.id}}:{{servicio.descripcion}}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" style="fill:#FFF"><path d="M7 21q-.825 0-1.412-.587Q5 19.825 5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413Q17.825 21 17 21ZM17 6H7v13h10ZM9 17h2V8H9Zm4 0h2V8h-2ZM7 6v13Z"/></svg>
                    </button>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
        
            <li class="page-item {% if not servicios.has_previous %} disabled {% endif %}">
                <a class="page-link" {% if servicios.has_previous %} href="?page={{ servicios.previous_page_number }}" {% endif %}>Previous</a>
            </li>
            
            {% for i in servicios.paginator.page_range %}
  
              {% if i == servicios.number %}
                  <li class="page-item active">
                      <a class="page-link" href="#">{{ i }}</a>
                  </li>
              {% else %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                  </li>
              {% endif %}
              
          {% endfor %}
          
          <li class="page-item {% if not servicios.has_next %} disabled {% endif %}" >
            <a class="page-link" {% if servicios.has_next %} href="?page={{ servicios.next_page_number }}" {% endif %}>Next</a>
          </li>
        </ul>
    </nav>

    <div class="modal fade" id="exampleModalgestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Servicio</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                <form action="{% url 'eliminar servicio' 0 %}" method="post" id="form_eliminar">
                    {% csrf_token %}
                    <button class="btn btn-danger">Eliminar</button>
                </form>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static '/js/validationscript.js' %}"></script>
{% endblock %}