{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="col-8">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% elif success %}
    <div class="alert alert-success" role="alert">
        {{success}}
    </div>
    {% endif %}

    <form id="form_crear_cliente" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row g-3">
            {% for field in form %}
                {% if field.name == 'tipo' %}
                    <div class="col-md-3">
                        <label for="{{ field.name }}" class="form-label fs-5">{{field.label}}</label>
                        {{field}}
                        <div class="invalid-feedback">
                            Por favor, llene este campo.
                        </div>
                    </div>
                    
                {% elif field.name == 'direccion' %}
                    <div class="col-md-6">
                        <label for="{{ field.name }}" class="form-label fs-5">{{field.label}}</label>
                        {{field}}
                        <div class="invalid-feedback">
                            Por favor, llene este campo.
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                {% elif field.name == 'nombre' %}
                    <div class="col-md-6">
                        <label for="{{ field.name }}" class="form-label fs-5">{{field.label}}</label>
                        {{field}}
                        <div class="invalid-feedback">
                            Por favor, llene este campo.
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                {% elif field.name == 'razon_social' %}
                    <div class="col-md-6">
                        <label for="{{ field.name }}" class="form-label fs-5">{{field.label}}</label>
                        {{field}}
                        <div class="invalid-feedback">
                            Por favor, llene este campo.
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                {% elif field.name == 'iddocumento'%}
                    <div class="col-md-3">
                        <label for="{{ field.name }}" class="form-label fs-5">{{field.label}}</label>
                        {{field}}
                        <div class="invalid-feedback">
                            Por favor, llene este campo.
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                {% elif field.name == 'apellido2'%}
                    <div class="col-md-3">
                        <label for="{{ field.name }}" class="form-label fs-5">{{field.label}}</label>
                        {{field}}
                        <div class="invalid-feedback">
                            Por favor, llene este campo.
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                {% elif field.name == 'estado' %}
                    <div class="col-md-3">
                        <label for="{{ field.name }}" class="form-label fs-5">{{field.label}}</label>
                        {{field}}
                        <div class="invalid-feedback">
                            Por favor, llene este campo.
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                {% else %}
                    <div class="col-md-3 mb-2">
                        <label for="{{ field.name }}" class="form-label fs-5">{{field.label}}</label>
                        {{field}}
                        <div class="invalid-feedback">
                            Por favor, llene este campo.
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar cambios</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Esta seguro que desea guardar los cambios?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="d-grid col-sm-8 gap-2 d-md-flex justify-content-md-start mt-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Modificar
        </button>
        <a class="btn btn-secondary" href="{% url 'gestion clientes' %}">Volver</a>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static '/js/validationscript.js' %}"></script>
{% endblock %}